.wrapper {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-items: center;
  justify-content: space-around;

  gap: 50px 29px;
  margin: 0 128px;

  margin-block-start: 0;
  margin-block-end: 0;

  padding-inline-start: 0px;
}
