

.wrapper {    
    flex-basis: calc((100% - 40px) / 3);
    width: 400px;
}
  



.textBox {
   overflow: hidden;
     height: 96px;
     margin: 24px 0;
}

.cardImg {
  background-position: center top;
  background-size: cover;
  
   border-radius: 8px;

   
     height: 400px;
   }


.info {
   margin-top: 24px;
}




